<a href="https://colab.research.google.com/github/Thanawich-Pinprayoon/INTRODUCTION-TO-DATA-ANALYTICS/blob/main/DA_qz5_play_with_gps_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

จงวิเคราะห์ข้อมูล GPS Data ของ Taxi ใน Bangkok

จากข้อมูลใน https://drive.google.com/drive/u/1/folders/1ieec1k9geI6EKbtSe3J6JqN0SQPm1o3E (Links to an external site.) 
(ใช้ KMITL account เพื่อเข้าถึง)

รายละเอียดข้อมูลอยู่ใน https://drive.google.com/file/d/1Z9YPaBRqZRAGSJ8LiMwgOpey_CbYcK1-/view (Links to an external site.) 

-----------------------------

หมายเหตุ:

วิธีอ่านหลายๆ csv ไฟล์ มาไว้ใน dataframe ดูที่ https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe (Links to an external site.)

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import glob
import pandas as pd

In [ ]:
path =r'/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25'
filenames = glob.glob(path + "/*.csv")

In [ ]:
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

จากข้อมูลในไฟล์ "2018-12-25.05.csv":

#จงหาจำนวนรถแท็กซี่?

(ตอบเป็นเลขจำนวนเต็ม)

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.05.csv')

In [ ]:
df

                               vid  gpsvalid  ...  engine_acc     city
0      pjy9IwPUVhWJ4T9amOrMzh1jiIc         1  ...           1  Bangkok
1      D1yS3NBW41iKDPpAa1ebGIgoECs         1  ...           0  Bangkok
2      cD+OB3LV8PISg+ax0k8eIveBmXg         1  ...           0  Bangkok
3      al+J6JFDSlVYnj571mGQQfjPtS0         1  ...           0  Bangkok
4      8TnKtxD0Utvep2A33w2Wh3PXAiY         1  ...           0  Bangkok
...                            ...       ...  ...         ...      ...
88589  WTPX1OPguJTNoQCGxTdSIMDoqi4         1  ...           0  Bangkok
88590  89RpA2ELBuNF9x/EoaglsCtshk0         1  ...           1  Bangkok
88591  YNPfUVHADjCPLlFrCLKle6gh1VQ         1  ...           1  Bangkok
88592  iQ636QpbczfaRlYxjDoB+l/wmss         1  ...           1  Bangkok
88593  DojNVh84/JKYv2r9TzYJGOUSLCY         1  ...           0  Bangkok

[88594 rows x 10 columns]

In [ ]:
len(df['vid'].unique())

3485

จากข้อมูลในไฟล์ "2018-12-25.05.csv":

#จงหาความเร็วเฉลี่ยของแท็กซี่ ในช่วงที่มีผู้โดยสาร (ไม่นับข้อมูลที่ความเร็วเป็น 0)?

(ตอบเป็นเลขจำนวนเต็ม)

In [ ]:
df[ (df['for_hire_light'] == 0) and (df['speed'] != 0 )]

ValueError: ignored

In [ ]:
df[(df['for_hire_light'] == 0) & (df['speed'] != 0) ].mean()

gpsvalid            0.994191
lat                13.767763
lon               100.556005
speed              37.217592
heading           176.051355
for_hire_light      0.000000
engine_acc          0.993085
dtype: float64

จากข้อมูลในไฟล์ "2018-12-25.05.csv":

#จงหาจำนวนนาทีที่รถแท็กซี่หมายเลข "bwmSJnFxrwrAUjqBcqCWOlj5f9Y" ขับขี่โดยมีผู้โดยสารใน 1 เที่ยววิ่ง

In [ ]:
df[ (df['vid'] == 'bwmSJnFxrwrAUjqBcqCWOlj5f9Y') & (df['for_hire_light'] == 0)].sort_values(by='timestamp')

                               vid  gpsvalid  ...  engine_acc     city
7389   bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
8755   bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
10122  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
11636  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
18800  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
24580  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
28969  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok

[7 rows x 10 columns]

จากข้อมูลในวันที่ "2018-12-25":

#จงหาความเร็วเฉลี่ยของแท็กซี่ ในช่วงที่มีผู้โดยสาร (ไม่นับข้อมูลที่ความเร็วเป็น 0)?

(ตอบเป็นเลขจำนวนเต็ม)

In [ ]:
big_frame[ (big_frame['for_hire_light'] == 0) & (big_frame['speed'] != 0 )].mean()

gpsvalid            0.995343
lat                13.766056
lon               100.558226
speed              31.080942
heading           175.031718
for_hire_light      0.000000
engine_acc          0.988498
dtype: float64

จากข้อมูลในวันที่ "2018-12-25":

#จงหาความเร็วเฉลี่ยของความเร็วสูงสุดของแท็กซี่แต่ละคัน ในช่วงที่มีผู้โดยสาร (ไม่นับข้อมูลที่ความเร็วเป็น 0)?

(ตอบเป็นเลขจำนวนเต็ม)

In [ ]:
big_frame[ (big_frame['for_hire_light'] == 0) & (big_frame['speed'] != 0 )].groupby('vid').max().mean()

gpsvalid            0.999745
lat                13.856830
lon               100.661257
speed              76.852551
heading           344.610204
for_hire_light      0.000000
engine_acc          0.991327
dtype: float64

จากข้อมูลในวันที่ "2018-12-25":

#ชั่วโมงใดที่มีจำนวนแทกซี่สูงสุด?

(ตอบเป็นเลขจำนวนเต็ม)

In [ ]:
pd.to_datetime(big_frame.timestamp)

0         2018-12-25 16:00:00
1         2018-12-25 16:00:00
2         2018-12-25 16:00:00
3         2018-12-25 16:00:00
4         2018-12-25 16:00:00
                  ...
2495272   2018-12-25 18:59:59
2495273   2018-12-25 18:59:59
2495274   2018-12-25 18:59:59
2495275   2018-12-25 18:59:59
2495276   2018-12-25 18:59:59
Name: timestamp, Length: 2495277, dtype: datetime64[ns]

In [ ]:
big_frame['timestamp'] = pd.to_datetime(big_frame.timestamp)

In [ ]:
big_frame

                                 vid  gpsvalid  ...  engine_acc     city
0        /Zj/M2Xz5uW1jUr3EJZwx07SUYE         1  ...           1  Bangkok
1        avZbZZiOTZ4dltE/symL8WeJ5YQ         1  ...           1  Bangkok
2        vtCX0mW0uUEqGiIiMwoeDLaPWI4         1  ...           1  Bangkok
3        L5lLRWLfD2kID9bUcYv1W1Ivhyo         1  ...           1  Bangkok
4        I+qBYDuuYwppA8mhB9tHgK8qgEo         1  ...           1  Bangkok
...                              ...       ...  ...         ...      ...
2495272  EvPgnx9e+fxfW921HxdF0U26BaI         1  ...           1  Bangkok
2495273  Eiy+wXYL59TbKdGWBtKWcljFMhE         1  ...           0  Bangkok
2495274  1zqQ5ggVcBrKOhN566Up8xF5PfY         1  ...           1  Bangkok
2495275  a1W2s8z4+SLnU9qIdhabsYd4K6o         1  ...           0  Bangkok
2495276  UXPVlJt7F6LdhyNrW1Y1DBXCXaU         1  ...           1  Bangkok

[2495277 rows x 10 columns]

In [ ]:
big_frame

                                 vid  gpsvalid  ...  engine_acc     city
0        /Zj/M2Xz5uW1jUr3EJZwx07SUYE         1  ...           1  Bangkok
1        avZbZZiOTZ4dltE/symL8WeJ5YQ         1  ...           1  Bangkok
2        vtCX0mW0uUEqGiIiMwoeDLaPWI4         1  ...           1  Bangkok
3        L5lLRWLfD2kID9bUcYv1W1Ivhyo         1  ...           1  Bangkok
4        I+qBYDuuYwppA8mhB9tHgK8qgEo         1  ...           1  Bangkok
...                              ...       ...  ...         ...      ...
2495272  EvPgnx9e+fxfW921HxdF0U26BaI         1  ...           1  Bangkok
2495273  Eiy+wXYL59TbKdGWBtKWcljFMhE         1  ...           0  Bangkok
2495274  1zqQ5ggVcBrKOhN566Up8xF5PfY         1  ...           1  Bangkok
2495275  a1W2s8z4+SLnU9qIdhabsYd4K6o         1  ...           0  Bangkok
2495276  UXPVlJt7F6LdhyNrW1Y1DBXCXaU         1  ...           1  Bangkok

[2495277 rows x 10 columns]

In [ ]:
filenames.sort()

In [ ]:
filenames

['/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.00.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.01.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.02.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.03.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.04.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.05.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.06.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.07.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.08.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.09.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.10.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.11.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.12.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.13.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.14.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.15.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.16.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.17.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.18.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.19.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.20.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.21.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.22.csv',
 '/content/drive/My Drive/Ming-Ham=ShipHai/ปี 3/DA/2018-12-25/2018-12-25.23.csv']

In [ ]:
count_taxi_per_hour = []
for filename in filenames:
  df = pd.read_csv(filename)
  count_taxi_per_hour.append(len(df['vid'].unique()))

In [ ]:
len(count_taxi_per_hour)

24

In [ ]:
max(count_taxi_per_hour)

4009

In [ ]:
for i in range(len(count_taxi_per_hour)):
  if count_taxi_per_hour[i] == max(count_taxi_per_hour):
    print(i)

14

In [ ]:
count_taxi_per_hour

[3964,
 3367,
 3334,
 3931,
 3415,
 3988,
 4009,
 3507,
 3364,
 3855,
 3872,
 3485,
 3957,
 3726,
 3616,
 3928,
 3661,
 3742,
 3739,
 3930,
 3820,
 3818,
 3969,
 3912]